body {
	background-color: #e2e2e2;
	font-family: Calibri, Arial, sans-serif; }

#content {
	margin: 10px auto;
	width: 80%;
	max-width: 1300px;
	min-width: 500px;
	/* border: 1px solid black; */
	background-color: #ffffff;
	text-align: center;
	padding: 20px;}

#head {
	width: 100%;
	height: 100px;
	background-color: #267241;
	text-align: left;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 40pt;
	display: compact;}

#headline {
	padding: 20px;
}
	
#menue {
	margin-bottom:5px;
	padding: 5px 0px;
	border-top: 5px solid #F6E71D;
	border-bottom: 5px solid #F6E71D;
	text-align: center;
	color: #267241;}

#menue ul {
	padding: 0px;
	padding-left: 10px;
	margin: 0px;
	margin-bottom: 20px;
	list-style-type: none;
}

#menue ul  li {
	float: left;
	margin-top: 4px;
	margin-right: 20px;
}

#menue ul li a {
	padding: 3px 20px 0px;
	color: #000000;
	text-decoration: none;
	background-color: #CCCCCC;
}

#menue ul li a:hover {
	background-color: #DDDDDD;
	color: #333333;
}

#main {
	width: 100%;
	text-align: justify;}
	
#details {
	width:80%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
	min-height: 400px;
	background-color: #EFEFEF; }
	
.detailmenue {
	width:80%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
	
.input {
	width: 300px;}
	
.front {
	width:150px;}